/* =============================================================================
HTML - styles
============================================================================= */

/*body {font:0.8em/1.5 "arial", sans-serif;}*/



/*#content fieldset {position:relative;  padding:10px;}
#content legend {font-size:120%; font-weight:bold;}
#content code {font-family:"";}
#content .help {cursor:help;}*/






